.slider-containeramir {
    width: 85%;
    margin: 30px auto;
    /* font-size: Poppins Italic	; */
  }
  
  .slideamir{
    /* display: flex; */
    width:85% !important;
    margin: auto;
    border: 1px solid #827b7b;
    border-radius: 8px;
    padding:10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .slider-containeramir .slideamir img{
    width: 60px;
    margin: auto;
    height: 70px;
    border-radius: 50%;
  }
  
  .slideamir h3 {
    margin: 0;
    font-size: 1.3rem;
  }
  
  .slideamir p {
    margin: 10px 0 0;
  }
  

  @media screen and (max-width:500px) {
   .slideamir {
    /* width: 95% !important; */
    margin: auto;
    margin-left: 5px;
    border: 1px solid #827b7b;
    border-radius: 8px;
    padding:10px 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  }