.vio{
    width: 100%;
    margin:50px auto;
}


.vio .fo video {
    display: inline-block;
    width: 100%;
    height: 500px;
}
.vio .fo source{
    display: inline-block;
    width: 100%;
}

.vio .fo iframe{
    width: 100%;
    height: 600px;
}