.so{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}
.so .oo{
    width: 35rem;
    margin: auto;
    text-align: center;
}
.so .oo img{
    height: 48vh;
}
.so .ho{
    width: 35rem;
    margin: auto;
}
.so .ho .no{
    display: inline-block;
    width: 100%;
    margin: auto;
    text-align: center;
}