.count1{
    width: 22rem;
    margin: auto;
}

.count1 p{
    font-size: 2rem;
    line-height: 1;
    font-weight: bold;
}

.count1 .b{
    display: inline-block;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 15px;
    font-family: "WPP Bold", sans-serif;
}

strong {
    font-family: "WPP Medium", sans-serif;
    font-weight: 400;
}