.heroo{
    position: relative;
    width: 100%;
    height: 93vh;     
    margin:20px auto;  
    overflow: hidden;  
  }
  
  .hero-videoo{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: cover;
    object-position: center;
    margin-bottom: 100px;
  }
  
  .vioo{
    margin-bottom: 30px;
  }





  